.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.containerorder {
    width: auto;
    display: flex;
    border-bottom: 1px solid;
    flex-wrap: wrap;
}

.containerorder label {
    font-weight: bold;
    
}

.containerorder:hover {
    background-color: rgba(230, 197, 224, 0.561);
    transition: all .3s linear;
    cursor: pointer;
}

.containerdata {
    margin: 2px 2em;
    min-width: 5vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.checked, .pause, .rejected, .delivered {
    height: 1.5em !important;
    margin: auto;    
}
.checked {
    color: green;
}
.pause {
    color:orange;
}
.rejected {
    color:red;
}
.delivered {
    color:rgb(65, 106, 240);
}

@media screen and (max-width: 700px){
    .containerorder {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .containerdata {
        border-bottom:1px solid;
        margin:1em 0;
    }
    
}
