.cart {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
  /* background-color: #fafafa; */
}

.cartItems {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 12rem;
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.total {
  /* margin-left: 15rem; */
  height: 4rem;
}

.btnpay{
  border-radius: 4px;
  background: rgb(218, 210, 200);
  transition: all 0.5s ease;
  border: none;
  text-shadow: black;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.btnpay:hover{
  background: rgb(212, 191, 204);
    transition: all 0.5s ease;
    
}