
.form input {
    width: 360px;
    height: 30px;
    padding: 1em;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px;
    position: relative;
    left: 0px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    top: 8px;
    background-color: rgba(228, 225, 224, 0.883);
    margin: 7px 0;
  }