.new {
    margin-bottom: -20px;
    background-image: url("../../../../images/beautfybanners.jpg");
    height:100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel {
    align-items: center;
}

.cat {
    margin-top: 10px;
    width: 360px;
    height: 40px;
    margin-left: 220px;
    border-radius: 10px;
    background-color: rgba(228, 225, 224, 0.883);
    padding: 0 1em;
}

.form {
    background-color: rgba(231, 223, 221, 0.67);
    background-repeat: no-repeat;
    margin:1em auto;
    height:70%;
    width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}
.new h2 {
    border-bottom:2px solid;
}

.new button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(248, 193, 130);
    border: none;
    color:black;
    text-shadow: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    margin: 2px;
    align-content: space-between;
    

}



.form input {
    width: 360px;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px; 
    opacity: 60%;
    position: relative;
    left: 110px;
    top: 8px;
    background-color: rgba(255, 127, 80, 0.507);
}
.form label {
    position: absolute;
    left: 30%;
    background:moccasin;
    color: black;
    font-weight: bold;
    width: 14%;
    height: 6%;
    border-radius: 5%;
    margin-top: 10px;
}

.form .submit {
    position: absolute;
    top: 174%;
    left: 45%;
    height: 50px;
    border-radius: 10px;
}

.form .category {
    width: 430px;
    height: 40px;
    position: relative;
    left: 50px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.562);
    
}

.divCats {
    padding: 4px;
    height: 55px;
    float:left;
    position: relative;
    top: 580px;
    left: 60px;
    background-color: rgb(255, 180, 94);
    font-weight: bold;
}

.errorsteps {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 50px;
}


.error {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 320px;
    top: 8px;
    width: 180px;
} 