/************ CONTENEDOR CARD ****************/
.cards {
  display: flex;
  flex-flow: column;
  background-color:rgb(255 237 237);
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.cards:hover {
  box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.568);
  transform: scale(1.02);
}

.cards img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0 0;
  transition: all 1s ease-out;
}
.cards img:hover img {
  transition: all 0.3s ease-out;
}
.cards img:hover img {
  transform: scale(1.2, 1.2);
}

.cardcost {
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  color: #333;
  margin-top: -18px;
  margin-bottom: 20px;
}

.cards h3 {
  font-size: 1.5rem;
  height: 60px;
  color: #333;
  text-transform: uppercase;
  text-overflow: clip;
  overflow: hidden;
  margin-bottom: 25px;
}

.cardcontenedor {
  width: 13vw;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.3);
  margin: 2rem;
  border-radius: 15px;
  min-width: 250px;
}

.homeowl {
  margin: 1em auto;
}

.amount {
 
  position: relative;
  top: 1rem;
  left: -3.5rem;
}

@media screen and (max-width: 650px) {
  .amount {
    position: relative;
    top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .amount {
    position: relative;
    top: -1rem;
  }
}
.button {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: -3rem;
  position: relative;
  top: -0.5rem;
  left: 2rem;
}


input {
  text-align: center;
  height: 2rem;
  width: 2rem;
  border: none;
  
}

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

 input[type=number] { -moz-appearance:textfield; }