/*************** BUTTON CART ********************/

.buttoncart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 12px 18px;
  font-size: inherit;
  font-family: inherit;
  width: 10rem;
  height: 45px;
  margin: 0.5em auto;
  background: rgb(3, 3, 3);
  position: relative;
  left: -21.5rem;
  top: 4rem;
}

.buttoncart:hover {
  background-color: #6e6e6e;
  transition: 0.5s ease;
}

.buttoncart .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: whitesmoke;
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: center;
}
