/*************** BUTTON CART ********************/

.buttoncart {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 12px 18px;
    font-size: inherit;
    font-family: inherit;
    width: 4rem;
    height: 45px;
    margin: 0.5em auto;
    background: rgb(255, 200, 200);
    background-image: url("../../../../images/carrito2.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    margin-left: 18px;
   }
   
   .buttoncart:hover {
    width: 6.5rem;
    background-image: none;
    transition: 0.5s ease;
   }
  
  
   
   .buttoncart .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: whitesmoke;
    font-weight: 600;
    line-height: 1.6;
    font-size: 0px;
    text-align: center;
    text-transform: uppercase;
   }
   
   
   
   
   .buttoncart:hover .button-text {
    color:black;
    font-size: 14px;
    
    transition: 0.5s ease;
   }
   
