input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.quantity p {
  font-weight: bold;
}
.quantity input {
  text-align: center;
  height: 2rem;
  width: 2rem;
  border: none;
  
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.quantity input[type=number] { -moz-appearance:textfield; }


@media screen and (max-width: 600px) {
  .quantity {
    position: relative;
    top: 2.3rem;
  }
}


.btnn {
  border: 0px;
  border-radius: 20%;
  height: 2rem;
  width: 2rem;
  transition: all 0.5s ease;
  text-shadow: black;
}
.btnn:hover{
  background: rgb(212, 191, 204);
  transition: all 0.5s ease;
}


.marketbutton {
  position: relative;
  left: 12.5rem;
  top: -2.8rem;
  width: 2rem;
}

.agotado{
  position: relative;
  font-weight:bold;
  left: 57px;
  bottom: 10px;

}

