.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vw;
  /* margin: 15px; */
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  align-self: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.product_name {
  font-size: 1.6rem;
  position: relative;
  top: 4rem;
  left: -20rem;
}
.card {
  display: flex;
  flex-direction: row;
  /* border-radius: 10px 10px 0px 0px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  /* background-color: #ffffff; */
  /* border: 1px solid #ebebeb; */
}

.image {
  width: 7rem;
  height: 5.5rem;
  object-fit: cover;
  align-self: center;
  position: relative;
  left: -18vw;
  top: 0rem;
}

.btn {
  background-color: #474747;
  color: white;
  /* padding: 14px 20px; */
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  align-self: center;
  position: relative;
  left: 13rem;
  top: 0.2rem;
}
.btn:hover {
  background-color: rgba(160, 28, 28, 0.815);
}

.amount {
  margin-left: 30rem;
  position: relative;
  top: -2.5rem;
}

.cost {
  position: relative;
  top: 2rem;
  left: 26rem;
  font-size: 1.6rem;
}

.cost p {
  top: 2rem;
  left: 26rem;
  font-size: 1rem;
}
