
.container {
    
    height: 350px;
    margin-bottom: -25px;
    background-image: url(https://img.freepik.com/foto-gratis/hermosa-sonrisa-joven-dientes-blancos_65293-2469.jpg?w=826);
    backdrop-filter: blur(2px);
    background-size: cover;
}

.content {
    background-color: rgba(0, 0, 0, 0.192);
    height: 500px;
}
.container h1 {
margin-left: 480px;
font-size: 50px;
}


.container h5 {
    margin-top: 40px;
    width: 47%;
    margin-left: 500px;
    font-size: 15px;
    
}

.container p {
    margin-top: 60px;
    font-size: 14px;
    font-style: italic;
    margin-left: 515px;
    width: 450px
}

