@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services {
  margin-block: 20px;
  width: 100%;
  font-family: "Belleza", sans-serif;
  font-size: 70px;
  background-color: #facdb6;
  height: 100px;
  text-shadow: 1px 1px 6px black;
}
