.newService {
    margin-bottom: -30px;
    background-image: url(https://img.freepik.com/foto-gratis/crema-base-maquillaje-desenfoque-fondo-textura-mascara-arcilla-roja_332273-1227.jpg?w=740);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cat {
    margin-top: 40px;
    width: 360px;
    height: 50px;
    margin-left: 220px;
    border-radius: 10px;
    background-color: rgba(255, 127, 80, 0.342)
}

.form {
    background-color: rgba(255, 255, 255, 0.267);
    background-repeat: no-repeat;
    margin-left: 380px;
    margin-right: 200px;
    margin-top: 5px;
    height: 700px;
    width: 600px;
    border-radius: 10px ;
}

.newService h3 {
position: absolute;
top: 165px;
left:580px
}

.newService button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(248, 193, 130);
    border: none;
    color:black;
    text-shadow: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    margin: 2px;
    align-content: space-between;
    

}

.form input {
    width: 360px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px; 
    opacity: 60%;
    position: relative;
    left: 110px;
    top: 40px;
    background-color: rgba(255, 127, 80, 0.507);
}
.form label {
    position: absolute;
    left: 400px;
    background:moccasin;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    margin-top: 40px;
}

.form .submit {
    position: absolute;
    top: 800px;
    left: 800px;
    height: 50px;
    border-radius: 10px;
}

.divCats {
    padding: 4px;
    height: 55px;
    float:left;
    position: relative;
    top: 580px;
    left: 60px;
    background-color: rgb(255, 180, 94);
    font-weight: bold;
}

.errorsteps {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 50px;
}
.errorsum {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 50px;
}

.error {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 320px;
    top: 40px;
    width: 180px;
} 
.errorcat {
    color: tomato;
    background-color: rgba(17, 4, 4, 0.774);
    font-weight: bold;
    position: relative;
    left: 320px;
    top: 2px;
    width: 180px;
} 